*.swp
*~
*.orig
*.rej
*.pyc
.*.sw?
.sw?
conan.log
compile_commands.json
.DS_Store
.idea
.vscode
.vs
.clangd
.cache
__pycache__
/**/CMakeUserPresets.json
/**/ConanPresets.json
/**/build/
/**/dist/
/**/install/
/**/.hidden
