# Ignore auto folders
**/.DS_Store
**/.idea
**/.cache
**/.clangd
**/.vs
**/.vscode
**/CMakeUserPresets.json
**/ConanPresets.json

# Ignore temporary files
*.swp
*~
*.orig
*.rej
*.pyc
.*.sw?
.sw?

# Ignore build folder
**/build

# Ignore install folder
**/install
