Language                                  : Cpp
BasedOnStyle                              : LLVM

AlwaysBreakAfterDefinitionReturnType      : 'All'
AlwaysBreakAfterReturnType                : 'All'
AlwaysBreakTemplateDeclarations           : 'true'
BreakBeforeBraces                         : 'Allman'
PointerBindsToType                        : 'true'
ColumnLimit                               : '120'
TabWidth                                  : '2'
